doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    if title
      title TaskCluster - Authentication
    else
      title TaskCluster - Authentication
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // Bootstrap
    link(rel='stylesheet',
         href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet',
         href='/assets/bootstrap/css/bootstrap-theme.min.css')

    // Custom styling
    link(rel='stylesheet', href='/assets/style.css')

    // jQuery and Bootstrap Javascript
    script(src='/assets/jquery.min.js')
    script(src='/assets/bootstrap/js/bootstrap.min.js')

    // Persona login script
    script(src='https://login.persona.org/include.js')

    // Marked for rendering markdown
    script(src='/assets/marked.min.js')

    script.
      var allowedHosts = !{JSON.stringify(allowedHosts).replace(/<\//g, "<\\/")};

    // Script with various hacks for this page
    script(src='/assets/script.js')
  body.container
    div.row
      div.col-md-10.col-md-offset-1#content
        h1 TaskCluster Authentication
        hr
        p
          | Login with your accounts, you will be given scopes based on LDAP and
          | Mozillians groups as you authenticate with each account.
        br
        if !user.hasMozillianUser()
          form#persona-form(action='/login/persona', method='post')
            input#persona-assertion(type='hidden', name='assertion')
            button.btn.btn-primary#persona-signin(type='submit')
              i.glyphicon.glyphicon-log-in
              | &nbsp;Sign-in with Mozillians
          br
        else
          div.alert.alert-info(role="alert")
            | You are signed in with
            b  Mozillians!
        if !user.hasLDAPUser()
          form(action='/login/sso', method='post')
            button.btn.btn-primary(type='submit')
              i.glyphicon.glyphicon-log-in
              | &nbsp;Sign-in with SSO
          br
        else
          div.alert.alert-info(role="alert")
            | You are signed in with
            b  SSO!
        if credentials
          span#grant-area(style='display: none')
            h2 Grant Credentials to&nbsp;
              code.grant-target
            hr
            p
              | The following tool have requested access to your temporary
              | credentials.
            dl.dl-horizontal
              dt Target
              dd
                b
                  code.grant-target
              dt Description
              dd#grant-description
              dt
              dd
                a.btn.btn-primary#grant-button(href='#')
                  i.glyphicon.glyphicon-lock
                  | &nbsp;Grant Access
                | &nbsp;(only grant access to trusted services!)
            br
            div.modal.fade#approve-dialog(role='dialog', data-keyboard='true')
              div.modal-dialog.modal-md
                div.modal-content
                  div.modal-header
                    button.close(data-dismiss='modal', aria-label='close')
                      span(aria-hidden='true')
                        | &times;
                    h4.modal-title
                      | Confirm Access Grant to Untrusted Host
                  div.modal-body(style='padding-left: 30px; padding-right: 30px')
                    | You are about to send you credentials to:
                    br
                    div(style='padding-left: 30px;')
                      code.grant-target
                    br
                    | Confirm trust by typing the hostname
                    code.grant-hostname
                    | in the textbox.
                    input.form-control#hostname-input(
                      type='text',
                      placeholder='host...',
                      style='margin-top: 5px; margin-bottom: 5px;'
                    )
                    | (don't worry we'll remember your choice to next time).
                  div.modal-footer
                    button.btn.btn-danger(data-dismiss='modal') Cancel
                    button.btn.btn-primary.disabled#confirm-grant-button
                      i.glyphicon.glyphicon-lock
                      | &nbsp;Confirm Access Grant
          script.
            load("!{querystring.stringify(credentials)}");
          h2 Temporary Credentials
          hr
          p
            | Below you'll find temporary credentials with the scopes you have
            | been granted.
          dl.dl-horizontal#credentials
            dt ClientId
            dd
              code #{credentials.clientId}
            dt AccessToken
            dd
              code #{credentials.accessToken}
            dt Certificate
            dd
              pre(style="white-space: pre-line;")
                | #{credentials.certificate}
          br
          h2 Authorized Scopes
          hr
          dl.dl-horizontal
            p You have been granted the following scopes.
            dt Scopes
            dd
              ul
                each scope in user.scopes()
                  li
                    code #{scope}
              | (These may indirectly assign you additional scopes)
            dt
            dd
              br
              form(action='/logout', method='post')
                button.btn.btn-danger(type='submit')
                  i.glyphicon.glyphicon-log-out
                  | &nbsp;Sign-out
                br
            br