doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Taskcluster Login
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // Bootstrap
    link(rel='stylesheet',
         href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet',
         href='/assets/bootstrap/css/bootstrap-theme.min.css')

    // Custom styling
    link(rel='stylesheet', href='/assets/style.css')

    // jQuery and Bootstrap Javascript
    script(src='/assets/jquery.min.js')
    script(src='/assets/bootstrap/js/bootstrap.min.js')

    // Marked for rendering markdown
    script(src='/assets/marked.min.js')

    script.
      var allowedHosts = !{JSON.stringify(allowedHosts).replace(/<\//g, "<\\/")};

    // Script with various hacks for this page
    script(src='/assets/script.js')
  body.container
    div.modal#manual-modal(tabindex="-1", role="dialog")
      div.modal-dialog.modal-open
        div.modal-content
          form#manual-form
            div.modal-header
              button.close(type="button", data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times
              h4.modal-title Manual Sign-In
            div.login-form.modal-body#manual-form
              label.sr-only(for="clientId") Client ID
              input.form-control.top-element#clientId(name="clientId", type="text",
                                          placeholder="clientId", required)
              label.sr-only(for="accessToken") Access Token
              input.form-control.mid-element#accessToken(name="accessToken", type="password",
                                          placeholder="accessToken", required)
              label.sr-only(for="certificate") Certificate
              textarea.form-control.bottom-element#certificate(name="certificate", rows=8,
                                          placeholder="certificate (if required)")
              p.text-muted
                | Note that the credentials are not checked for validity
            div.modal-footer
              button.btn.btn-default(data-dismiss="modal", type="button") Close
              button.btn.btn-primary(type='submit')
                i.glyphicon.glyphicon-circle-arrow-right
                | &nbsp;Sign-in

    div.row
      div.col-md-10.col-md-offset-1#content
        h1 Taskcluster Login
        hr
        div.row.login-option
          div.col-md-4
            form(action='/auth0/login-temp', method='post')
              button.btn.btn-block.btn-primary(type='submit')
                i.glyphicon.glyphicon-log-in
                | &nbsp;Sign-in with Auth0
          div.col-md-8
            p
              | If you have a&nbsp;
              b Mozilla Account
              | , sign in with Auth0 to maximize your
              | permissions.  You can use this option even if you are not an employee!
              | If you also have a Mozillians account, make sure your
              | LDAP email is included in your Mozillians profile.
        br
        if flash.error
          div.alert.alert-danger(role="alert")
            b Login Failed
            each val in flash.error
              p= val
        div#credentials-display(style='display: none')
          span#grant-area(style='display: none')
            h2 Grant Credentials to&nbsp;
              code.grant-target
            hr
            p
              | The following tool has requested access to your credentials.
            dl.dl-horizontal
              dt Target
              dd
                b
                  code.grant-target
              dt Description
              dd#grant-description
              dt
              dd
                a.btn.btn-primary#grant-button(href='#')
                  i.glyphicon.glyphicon-lock
                  | &nbsp;Grant Access
                | &nbsp;(only grant access to trusted services!)
            br
            div.modal.fade#approve-dialog(role='dialog', data-keyboard='true')
              div.modal-dialog.modal-md
                div.modal-content
                  div.modal-header
                    button.close(data-dismiss='modal', aria-label='close')
                      span(aria-hidden='true')
                        | &times;
                    h4.modal-title
                      | Confirm Access Grant to Untrusted Host
                  div.modal-body(style='padding-left: 30px; padding-right: 30px')
                    | You are about to send you credentials to:
                    br
                    div(style='padding-left: 30px;')
                      code.grant-target
                    br
                    | Confirm trust by typing the hostname&nbsp;
                    code.grant-hostname
                    | &nbsp;in the textbox.
                    input.form-control#hostname-input(
                      type='text',
                      placeholder='host...',
                      style='margin-top: 5px; margin-bottom: 5px;'
                    )
                    | (don't worry we'll remember your choice to next time).
                  div.modal-footer
                    button.btn.btn-danger(data-dismiss='modal') Cancel
                    button.btn.btn-primary.disabled#confirm-grant-button
                      i.glyphicon.glyphicon-lock
                      | &nbsp;Confirm Access Grant
          h2 Credentials
          hr
          dl.dl-horizontal#credentials
            dt ClientId
            dd
              code#credentials-clientId
            dt AccessToken
            dd (hidden)
            dt Certificate
            dd
              pre(style="white-space: pre-line;")#credentials-certificate
          br
    if credentials
      script.
        showCredentials(!{JSON.stringify(credentials)});
