doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title TaskCluster Login
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // Bootstrap
    link(rel='stylesheet',
         href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet',
         href='/assets/bootstrap/css/bootstrap-theme.min.css')

    // Custom styling
    link(rel='stylesheet', href='/assets/style.css')

    // jQuery and Bootstrap Javascript
    script(src='/assets/jquery.min.js')
    script(src='/assets/bootstrap/js/bootstrap.min.js')

    // Persona login script
    script(src='https://login.persona.org/include.js')

    // Marked for rendering markdown
    script(src='/assets/marked.min.js')

    script.
      var allowedHosts = !{JSON.stringify(allowedHosts).replace(/<\//g, "<\\/")};

    // Script with various hacks for this page
    script(src='/assets/script.js')
  body.container
    div.modal#ldap-modal(tabindex="-1", role="dialog")
      div.modal-dialog.modal-open
        div.modal-content
          form(action='/ldap/login', method='post')
            div.modal-header
              button.close(type="button", data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times
              h4.modal-title Mozilla LDAP Sign-In
            div.login-form.modal-body#ldap-form
              label.sr-only(for="username") LDAP Email
              input.form-control.top-element#username(name="username", type="email",
                                          placeholder="LDAP Email", required)
              label.sr-only(for="password") Password
              input.form-control.bottom-element#password(name="password", type="password",
                                          placeholder="Password", required)
            div.modal-footer
              button.btn.btn-default(data-dismiss="modal", type="button") Close
              button.btn.btn-primary(type='submit')
                i.glyphicon.glyphicon-circle-arrow-right
                | &nbsp;Sign-in

    div.modal#manual-modal(tabindex="-1", role="dialog")
      div.modal-dialog.modal-open
        div.modal-content
          form#manual-form
            div.modal-header
              button.close(type="button", data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times
              h4.modal-title Manual Sign-In
            div.login-form.modal-body#manual-form
              label.sr-only(for="clientId") Client ID
              input.form-control.top-element#clientId(name="clientId", type="text",
                                          placeholder="clientId", required)
              label.sr-only(for="accessToken") Access Token
              input.form-control.mid-element#accessToken(name="accessToken", type="password",
                                          placeholder="accessToken", required)
              label.sr-only(for="certificate") Certificate
              textarea.form-control.bottom-element#certificate(name="certificate", rows=8,
                                          placeholder="certificate (if required)")
              p.text-muted
                | Note that the credentials are not checked for validity
            div.modal-footer
              button.btn.btn-default(data-dismiss="modal", type="button") Close
              button.btn.btn-primary(type='submit')
                i.glyphicon.glyphicon-circle-arrow-right
                | &nbsp;Sign-in

    div.row
      div.col-md-10.col-md-offset-1#content
        h1 TaskCluster Login
        hr
        p
          | Choose the best sign-in option for you from the options below.
        div.row.login-option
          div.col-md-4
            form(action='/sso/login', method='post')
              button.btn.btn-block.btn-primary(type='submit')
                i.glyphicon.glyphicon-log-in
                | &nbsp;Sign-in with Okta
          div.col-md-8
            p
              | If you are a&nbsp;
              b Mozilla employee
              | , sign in with Okta to maximize your
              | permissions.  If you also have a Mozillians account, make sure your
              | Okta email is included in your Mozillians profile.
        div.row.login-option
          div.col-md-4
            button.btn.btn-block.btn-primary(data-toggle="modal", data-target="#ldap-modal")
              i.glyphicon.glyphicon-circle-arrow-right
              | &nbsp;Sign-in with LDAP
          div.col-md-8
            p
              | If you are not a Mozilla employee, but&nbsp;
              b have an LDAP account
              | &nbsp;granting you commit access, sign in with your LDAP username and password.
        div.row.login-option
          div.col-md-4
            form#persona-form(action='/persona/login', method='post')
              input#persona-assertion(type='hidden', name='assertion')
              button.btn.btn-block.btn-primary#persona-signin(type='submit')
                i.glyphicon.glyphicon-user
                | &nbsp;Sign-in with Persona
          div.col-md-8
            p
              | If you are a&nbsp;
              b Mozillian
              | , but do not have an LDAP account, sign in with Persona.
              | Your permissions will depend on the Mozillians groups you belong
              | to.  If you do not have a Mozillians profile,&nbsp;
              a(href='https://mozillians.org/en-US/')
                | set one up
              | &nbsp;now.  Get vouched to gain access to additional scopes.
        div.row.login-option
          div.col-md-4
            button.btn.btn-block.btn-primary(data-toggle="modal", data-target="#manual-modal")
              i.glyphicon.glyphicon-paste
              | &nbsp;Sign-in Manually
          div.col-md-8
            p
              | If you have a&nbsp;
              b clientId, accessToken, and certificate
              | , sign in manually by
              | pasting them into the appropriate fields.
        br
        if flash.error
          div.alert.alert-danger(role="alert")
            b Login Failed
            each val in flash.error
              p= val
        div#credentials-display(style='display: none')
          span#grant-area(style='display: none')
            h2 Grant Credentials to&nbsp;
              code.grant-target
            hr
            p
              | The following tool has requested access to your credentials.
            dl.dl-horizontal
              dt Target
              dd
                b
                  code.grant-target
              dt Description
              dd#grant-description
              dt
              dd
                a.btn.btn-primary#grant-button(href='#')
                  i.glyphicon.glyphicon-lock
                  | &nbsp;Grant Access
                | &nbsp;(only grant access to trusted services!)
            br
            div.modal.fade#approve-dialog(role='dialog', data-keyboard='true')
              div.modal-dialog.modal-md
                div.modal-content
                  div.modal-header
                    button.close(data-dismiss='modal', aria-label='close')
                      span(aria-hidden='true')
                        | &times;
                    h4.modal-title
                      | Confirm Access Grant to Untrusted Host
                  div.modal-body(style='padding-left: 30px; padding-right: 30px')
                    | You are about to send you credentials to:
                    br
                    div(style='padding-left: 30px;')
                      code.grant-target
                    br
                    | Confirm trust by typing the hostname&nbsp;
                    code.grant-hostname
                    | &nbsp;in the textbox.
                    input.form-control#hostname-input(
                      type='text',
                      placeholder='host...',
                      style='margin-top: 5px; margin-bottom: 5px;'
                    )
                    | (don't worry we'll remember your choice to next time).
                  div.modal-footer
                    button.btn.btn-danger(data-dismiss='modal') Cancel
                    button.btn.btn-primary.disabled#confirm-grant-button
                      i.glyphicon.glyphicon-lock
                      | &nbsp;Confirm Access Grant
          h2 Credentials
          hr
          dl.dl-horizontal#credentials
            dt ClientId
            dd
              code#credentials-clientId
            dt AccessToken
            dd
              code#credentials-accessToken
            dt Certificate
            dd
              pre(style="white-space: pre-line;")#credentials-certificate
          br
    if credentials
      script.
        showCredentials(!{JSON.stringify(credentials)});
