doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    if title
      title TaskCluster - AWS Provisioner - #{title}
    else
      title TaskCluster - AWS Provisioner
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // Bootstrap and Awesome Font styles
    link(rel='stylesheet',
         href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet',
         href='//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css')

    // Custom styling
    link(rel='stylesheet', href='/static/style.css')

    // jQuery and Bootstrap Javascript
    script(src='//code.jquery.com/jquery-1.10.1.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')

    // Persona login script and login script
    script(src='https://login.persona.org/include.js')
    script(src='/static/login.js')
  body
    if !user
      form#persona-form(action='/persona-auth', method='post',
                        style='display: none;')
        input#persona-assertion(type='hidden', name='assertion')

    nav.navbar.navbar-default(role='navigation')
      div.navbar-header
        a.navbar-brand(href='/')
          | Task Cluster - AWS Provisioner
      ul.nav.navbar-nav
        li: a(href='/log')
          | Action log
        if user
          li: a(href='/logout')
            | Logout

      if !user
        img.navbar-right.signin#signin(src='/static/signin.png')

    section.container
      header
        h1 #{title}
      block content