extends layout

block content
  table.table
    thead
      tr
        th Name
        th ClientId
        th Expires
        th View
        th Edit
        th Delete
    tbody
      for client in clients
        tr
          td #{client.name}
          td
            code #{client.clientId}
          td #{moment(client.expires).fromNow()}
          td
            a(href="/client/#{client.clientId}/view").btn.btn-success.btn-xs
              i.glyphicon.glyphicon-eye-open
              |  View
          td
            a(href="/client/#{client.clientId}/edit").btn.btn-primary.btn-xs
              i.glyphicon.glyphicon-pencil
              |  Edit
          td
            a(
              href="/client/#{client.clientId}/delete"
            ).btn.btn-danger.btn-xs.prompt-first
              i.glyphicon.glyphicon-trash
              |  Delete
  a(href="/client/create").btn.btn-primary
    i.glyphicon.glyphicon-plus
    |  New client
  script
    | $('.prompt-first').click(function() {
    |   return confirm("Do you really want to delete this client?");
    | });