extends layout

block content
  form.form-horizontal(role="form", action="/client/update", method="post")
    input(type="hidden", name="updateOrCreate", value="#{action}")
    div.form-group
      label.col-sm-2.control-label(for="name")
        | Name
      div.col-sm-10
        input(type="text",
              style="width: 80ex",
              maxlength="22",
              name="name",
              value="#{client.name}")#name.form-control
    if action == 'update'
      div.form-group
        label.col-sm-2.control-label(for="clientId")
          | ClientId
        div.col-sm-10
          code #{client.clientId}
          input(type="hidden",
                name="clientId",
                value="#{client.clientId}")#clientId
      div.form-group
        label.col-sm-2.control-label(for="accessToken")
          | AccessToken
        div.col-sm-10
          code #{client.accessToken}
          input(type="hidden",
                name="accessToken",
                value="#{client.accessToken}")#accessToken
    div.form-group
      label.col-sm-2.control-label(for="scopes")
        | Scopes
      div.col-sm-10
        input(type="text",
              style="width: 80ex",
              name="scopes",
              value="#{JSON.stringify(client.scopes)}")#scopes.form-control
    div.form-group
      label.col-sm-2.control-label(for="expires")
        | Expires
      div.col-sm-10
        input(type="text",
              style="width: 80ex",
              name="expires",
              value="#{client.expires.toJSON()}")#expires.form-control
    div.form-group
      label.col-sm-2.control-label(for="notes")
        | Notes
      div.col-sm-10
        textarea(style='width: 80ex; height: 60ex',
                 name='notes')#notes.form-control
          | #{client.details.notes}
    div.form-group
      div.col-sm-offset-2.col-sm-1
        button(type="submit").btn.btn-primary
          if action == 'update'
            i.glyphicon.glyphicon-ok
            |  Update
          else
            i.glyphicon.glyphicon-ok
            |  Create
