doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      if title
        title TaskCluster - AWS Provisioner - #{title}
      else
        title TaskCluster - AWS Provisioner
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      // Bootstrap and Awesome Font styles
      link(rel='stylesheet',
           href='/assets/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet',
           href='/assets/bootstrap/css/bootstrap-theme.min.css')

      // Custom styling
      link(rel='stylesheet', href='/assets/style.css')

      // jQuery and Bootstrap Javascript
      script(src='//code.jquery.com/jquery-1.10.1.min.js')
      script(src='/assets/bootstrap/js/bootstrap.min.js')

      // Persona login script and login script
      script(src='https://login.persona.org/include.js')
      script(src='/assets/login.js')
  body
    if !user
      form#persona-form(action='/persona-auth', method='post',
                        style='display: none;')
        input#persona-assertion(type='hidden', name='assertion')

    nav.navbar.navbar-default(role='navigation')
      div.navbar-header
        a.navbar-brand(href='/')
          | Task Cluster - AWS Provisioner
      ul.nav.navbar-nav
        li: a(href='/worker-type')
          | Manage Worker-Types
        if user
          li: a(href='/logout')
            | Logout

      if !user
        img.navbar-right.signin#signin(src='/assets/signin.png')

    section.container
      header
        h1 #{title}
      block content