doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    style.
      @media only screen and (max-width: 620px) {
        table[class=body] h1 {
          font-size: 28px !important;
          margin-bottom: 10px !important; }
        table[class=body] p,
        table[class=body] ul,
        table[class=body] ol,
        table[class=body] td,
        table[class=body] span,
        table[class=body] a {
          font-size: 16px !important; }
        table[class=body] .wrapper,
        table[class=body] .article {
          padding: 10px !important; }
        table[class=body] .content {
          padding: 0 !important; }
        table[class=body] .container {
          padding: 0 !important;
          width: 100% !important; }
        table[class=body] .main {
          border-left-width: 0 !important;
          border-radius: 0 !important;
          border-right-width: 0 !important; }
        table[class=body] .btn table {
          width: 100% !important; }
        table[class=body] .btn a {
          width: 100% !important; }
        table[class=body] .img-responsive {
          height: auto !important;
          max-width: 100% !important;
          width: auto !important; }}
    if link
      script(type="application/ld+json").
        {
          "@context": "http://schema.org",
          "@type": "EmailMessage",
          "potentialAction": {
            "@type": "ViewAction",
            "url": "#{link.href}",
            "name": "#{link.text}"
          },
          "description": "View in Taskcluster"
        }
  body(class="")
    table.body(border="0", cellpadding="0", cellspacing="0")
      tr
        td &nbsp;
        td.container
          .content
            h1
              img.logo(src="https://docs.taskcluster.net/assets/taskcluster-180.png", height="32px")
              | &nbsp;Taskcluster
            table.main
              tr
                td.wrapper
                  table(border="0", cellpadding="0", cellspacing="0")
                    tr
                      td
                        p !{formatted}
                        if link
                          table.btn.btn-primary(border="0", cellpadding="0", cellspacing="0")
                            tbody
                              tr
                                td(align="left")
                                  table(border="0", cellpadding="0", cellspacing="0")
                                    tbody
                                      tr
                                        td
                                          a(href=link.href, target="_blank")= link.text
            .footer
              table(border="0", cellpadding="0", cellspacing="0")
                tr
                  td.content-block
                    | Mozilla Taskcluster | docs.taskcluster.net | irc.mozilla.org#taskcluster

        td &nbsp;
